/* Analog clock */

.block-wallclock {
  background: #eeeeee;
}

#clocksvg {
  display:flex;
  align-items:center;
  justify-content:center;
  /* background: red; */
}

#partofday {
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

/* Digital clock */

#digital .clock-wrapper {
   background-color: #eeeeee; 
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: -10px;
}
#digital  #clock {
  background-color: #eeeeee;
  font-family: 'Segoe UI', sans-serif;
  font-size: 30px;
  color: black;
}
